<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @flat['imageUrl'] %>);">
  <div class="container">
    <h1><%= @flat['name'] %></h1>
    <a class="btn btn-flat" href="#">Book now for <%= @flat['priceCurrency'] %> <%= @flat['price'] %></a>
  </div>
</div>
